In [13]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import cv2

from sklearn.model_selection import train_test_split

In [ ]:
# uncomment when run notebook in Google Colab
# from google.colab import drive
# drive.mount('/content/drive')

In [5]:
ds = pd.read_csv('../data/W3T1/diabetes.csv', nrows=620)

ds

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
615,3,106,72,0,0,25.8,0.207,27,0
616,6,117,96,0,0,28.7,0.157,30,0
617,2,68,62,13,15,20.1,0.257,23,0
618,9,112,82,24,0,28.2,1.282,50,1
619,0,119,0,0,0,32.4,0.141,24,1

In [12]:
# get Outcome is 0 count

len(list(filter(lambda x: x == 0, ds.Outcome)))

404

In [17]:
xtrain, xtest, ytrain, ytest = train_test_split(ds.drop(columns=['Outcome']), ds.Outcome, test_size=0.20, train_size=0.80, shuffle=False)